.mod_wem_locations_map{padding-top: 30px; position: relative; display: -webkit-box;display: -ms-flexbox;display: flex;width:100%;min-height:400px;}

.mod_wem_locations_map .map__reset{position: absolute; margin: 0; top: 15px;left: 15px; display: none; ;z-index: 1;
  -webkit-box-shadow: 1px 3px 10px rgba(0,0,0,.5);box-shadow: 1px 3px 10px rgba(0,0,0,.5);
}
.mod_wem_locations_map .map__reset.active{display: block;}

.mod_wem_locations_map .map__content{
  width: 450px; height: 100%; position: absolute; left: 100%; overflow: hidden; background-color: rgba(255,255,255,0.8);
  display: -webkit-box; display: -ms-flexbox; display: flex;
  -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;
  -webkit-box-shadow: -5px 5px 10px rgba(0,0,0,0.2);box-shadow: -5px 5px 10px rgba(0,0,0,0.2);
  -webkit-transition: -webkit-transform 0.6s; transition: -webkit-transform 0.6s; -o-transition: transform 0.6s; transition: transform 0.6s; transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform: translate3d(10%,0,0); transform: translate3d(10%,0,0);
}
.mod_wem_locations_map .map__content.active{ -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0);}
.mod_wem_locations_map .map__content .map__content__title{margin-top: 0;margin-bottom: 0; text-transform: uppercase; background-color: #666; color: #fff; padding: 30px;}
.mod_wem_locations_map .map__content .map__content__wrapper{ height: 100%; overflow: auto;}
.mod_wem_locations_map .map__content .map__content__item{overflow: hidden; cursor: pointer; padding: 15px 0;  border-bottom: 1px solid #000; display: none; clear: both;}
.mod_wem_locations_map .map__content .map__content__item:last-of-type{margin-bottom: 30px;}
.mod_wem_locations_map .map__content .map__content__item.active{display: block;}
.mod_wem_locations_map .map__content .map__content__item.selected,
.mod_wem_locations_map .map__content .map__content__item.hover,
.mod_wem_locations_map .map__content .map__content__item:hover{background-color: rgba(0,0,0,0.1);}
.mod_wem_locations_map .map__content .map__content__item *[class*="col-"]{padding:0 15px;}
.mod_wem_locations_map .map__content .map__content__item p{margin-top: 0;}

.mod_wem_locations_map .map__dropdowns{}

.mod_wem_locations_map+.map__reset,
.mod_wem_locations_map+.map__reset+.map__content,
.mod_wem_locations_map+.map__reset+.map__content+.map__dropdowns{display: none;}